<div style="text-align: center">
    <h1>{{title}}</h1>
</div>

<app-stocks></app-stocks>
<!--charts-->
<!--
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/bar-chart">BAR CHART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doughnut-chart">DOUGHNUT CHART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/radar-chart">RADAR CHART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pie-chart">PIE CHART</a>
        </li>
    </ul>
</div>
-->